body{
    background: linear-gradient(
      180deg,
      rgba(0, 10, 18, 1) 0%,
      rgba(1, 73, 124, 1) 100%
    );
}

nav {
    background-color: rgba(0, 10, 18, 0.8);
}

nav a, nav button *{
    color: white !important;
}

nav a:hover, nav button *{
    color: #d7d7d7 !important;
}

nav button{
    border:#d7d7d7 1px solid !important;
}

#meus-itens{
    margin-top: 10%;
}

a:link, a{
    text-decoration: none;
    color: white !important;
}

a:hover{
    color: #d7d7d7 !important;
}