html {
    background-repeat: no-repeat;
    height: 100%
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(131, 58, 180);
    background: -moz-linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background: linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4", endColorstr="#fcb045", GradientType=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

iframe {
    margin: 10% 22.5%;
    width: 55%;
    height: 165vh;
}

hr {
    margin: 0 !important;
}


#egg {
    position: absolute;
    width: 120vw;
    height: 120vw;
    top: 45vh;
    left: -10vw;
    border-radius: 87% 13% 100% 0% / 29% 36% 64% 71%;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);

    -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.25);
    box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.25);
}

/* Navbar */

#navbar {
    padding: 1% 10%;
}

#navbar * {
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 7px rgb(0, 0, 0);
}

.divisor {
    border: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.2) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.2) 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
}

.dark {
    background: rgba(25, 25, 25, 0.9);
    box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
}

/* Links */

#links ul {
    margin-top: 25vh;
}